body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("imag/sahrap1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.res-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 40px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.form-control,
.form-select {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 12px;
}

.form-control:focus {
  background: rgba(255, 255, 255, 0.2);
  border-color: #ff0303;
  color: #fff;
  box-shadow: none;
}

.label-custom {
  color: #d9c5b2;
  font-weight: 500;
  margin-bottom: 8px;
}

.btn-reserve {
  background-color: #ff0303;
  border: none;
  padding: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 0.3s;
  margin-top: 20px;
}

.btn-reserve:hover {
  background-color: #b30000;
  transform: translateY(-3px);
}

.back-home {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 20px;
}

.form-select option {
  background-color: #1a1a1a;

  color: #fff;
}

.form-select:focus {
  border-color: #ff0000;

  box-shadow: 0 0 8px rgba(255, 0, 0, 0.5);
}
